Chroma==0.2.0
chroma-hnswlib==0.7.3
chromadb==0.5.3
gradio
ipykernel==6.29.5
langchain
langchain-chroma
langchain-community
langchain-core
langchain-openai
langchain-text-splitters==0.2.4
langgraph
langgraph-checkpoint==1.0.9
langsmith==0.1.116
numpy==1.26.4
openai==1.44.0
pandas==2.2.2
pydantic
pydantic_core
pypdf==4.3.1
pyprojroot==0.3.0
PyYAML==6.0.2
SQLAlchemy==2.0.34



